<div class="navbar mb-8 bg-base-200 py-6">
	<div class="navbar-start">
		<a routerLink="/list" class="btn btn-ghost text-lg md:text-2xl">
			<ng-icon name="remixStore2Fill" />Angular Store
		</a>
	</div>
	<div class="navbar-center hidden md:inline-flex">
		<ul class="menu menu-horizontal">
			<li><a routerLink="/list">Productos</a></li>
		</ul>
	</div>
	<div class="navbar-end">
		<div class="indicator">
			@if (cartState.count() > 0) {
				<span class="badge indicator-item badge-secondary indicator-start">{{
					cartState.count()
				}}</span>
			}
			<a routerLink="/cart" class="btn btn-ghost" aria-current="page">
				<ng-icon name="remixShoppingCart2Fill" size="20" />
			</a>
		</div>
	</div>
</div>
