<div class="navbar mb-8 bg-base-200">
	<div class="navbar-start">
		<a routerLink="/" class="btn btn-ghost text-xl">Angular Store</a>
	</div>
	<div class="navbar-center">
		<ul class="menu menu-horizontal">
			<li><a routerLink="/list">Productos</a></li>
		</ul>
	</div>
	<div class="navbar-end">
		<div class="indicator">
			@if (cartState.count() > 0) {
				<span class="badge indicator-item badge-secondary indicator-start">{{
					cartState.count()
				}}</span>
			}
			<a
				routerLink="/cart"
				class="btn btn-accent"
				routerLinkActive="rounded-box"
				aria-current="page"
				>Carrito</a
			>
		</div>
	</div>
</div>
