@switch (productDetailStateService.status()) {
	@case ("loading") {
		<span class="loading loading-spinner loading-lg size-12"></span>
	}
	@case ("error") {
		<div role="alert" class="alert alert-error grid-cols-1">
			<span>Error!</span>
		</div>
	}
	@case ("success") {
		<section>
			<div class="container mx-auto px-5 py-24">
				<div class="mx-auto flex flex-wrap lg:w-4/5">
					<img
						[src]="productDetailStateService.product()?.image"
						[alt]="productDetailStateService.product()?.title"
						class="h-64 w-full rounded object-cover object-center lg:h-auto lg:w-1/2"
					/>
					<div>
						<h1 class="text-3xl font-semibold">
							{{ productDetailStateService.product()?.title }}
						</h1>
						<p>
							{{ productDetailStateService.product()?.description }}
						</p>

						<div class="flex justify-between">
							<span class="text-3xl font-bold">{{
								productDetailStateService.product()?.price | currency
							}}</span>
							<button class="btn btn-accent" (click)="addToCart()">
								Agregar al carrito
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	}
}
