<div class="card flex-row">
	<figure class="w-32 shrink-0 rounded-box bg-white p-2">
		<img
			[src]="productCartItem().product.image"
			[alt]="productCartItem().product.title"
			loading="lazy"
			class="aspect-square object-contain"
		/>
	</figure>

	<div class="card-body gap-4 p-2 sm:p-4 lg:flex-row lg:items-start lg:p-8">
		<div
			class="flex flex-grow flex-col items-start gap-2 sm:flex-row sm:gap-4 md:flex-col"
		>
			<a
				[routerLink]="['/product', productCartItem().product.id]"
				class="flex-grow text-xs font-semibold sm:text-sm md:text-lg"
				>{{ productCartItem().product.title }}</a
			>
			<button
				class="btn btn-error btn-xs md:btn-sm"
				(click)="onRemove.emit(productCartItem().product.id)"
			>
				Delete
			</button>
		</div>
		<div
			class="flex flex-col justify-between gap-4 sm:flex-row lg:flex-col lg:items-end"
		>
			<div class="flex items-center justify-start gap-2">
				<button
					class="btn btn-xs sm:btn-sm"
					(click)="onIncrease.emit(productCartItem())"
				>
					+
				</button>
				<input
					type="number"
					[value]="productCartItem().quantity"
					class="input input-xs text-center sm:input-sm"
					disabled
					required
				/>
				<button
					class="btn btn-xs sm:btn-sm"
					(click)="onDecrease.emit(productCartItem())"
				>
					-
				</button>
			</div>
			<span class="text-2xl font-bold">
				{{
					productCartItem().product.price * productCartItem().quantity
						| currency
				}}
			</span>
		</div>
	</div>
</div>
